*{
	list-style-type:none;
	text-decoration:none;
	outline:none;
	/*border:1px solid;*/
}
body, html{
	margin:0;
	padding:0;
	font-family:Lato;
	font-size:16px;
	font-weight:lighter;
	line-height:1.8em;
	background:radial-gradient(#fff, #EDDBC7);
}
.today{
	text-align:center;
	padding:30px 50px;
	text-transform:uppercase;
	letter-spacing:10px;
	margin:20px 0 10px 0;
	opacity:.7;
	background-color:black;
	color:#f4f4f4;
}
.navbar h1 img{
	height:60px;
	width:250px;
	margin: 0 15px;
}
.profile {
	display: flex;
	align-items:center;
	color: #2B2B2B;
	justify-content: space-evenly;
}
.pname{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.pname h6, .pname h2{
	margin:0;
	font-size: small;
	line-height: 20px;
	font-weight: lighter;
}
.profile img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.navbar{
	width:100%;
	top:0;
	padding:5px 0;
	display:flex;
	justify-content:space-between;
	background-color:#2B2B2B;
	color:#f4f4f4;
	position:sticky;
	z-index:1;
	
}
.navbar ul{
	margin:30px 10px 30px 0;
}
.navbar ul li{
	margin-left:10px;
	border-color:transparent;
	border-radius:5px;
	background-color:#C8B6A6;
	display:inline-block;
	cursor:pointer;
}
.navbar li button{
	background:transparent;
	border:none;
	font-size:16px;
	border-radius:5px;
	color:#111;
	padding:10px 15px;
	cursor:pointer;
	text-transform:uppercase;	
}
.navbar ul li button:hover{
	background-color:#F8EAD8;
}
.btn {
	font-size:20px;
	padding:10px 15px;
	border-color:transparent;
	border-radius:5px;
	font-family:monsterrat;
	cursor:pointer;
	background-color:#C8B6A6;
	color:black;
}
.btn:hover{
	background-color:#F8EAD8;
}
.men-btn{
	width:50px;
	height:50px;
	margin:20px;
	background-color:transparent;
	cursor:pointer;
	border:none;
	display:none;
	font-size:30px;
	color:#EDDBC7;
}
a{
	color:black;
}
.tableimg{
	width:60vw;
	text-align:center;
	margin:15% auto;
	font-size:25px;
}
.choose{
	background:#2b2b2b;
	color:#f4f4f4;
}
.upload{
	
	font-size:20px;
	padding:10px 15px;
	border-color:transparent;
	border-radius:5px;
	font-family:monsterrat;
	cursor:pointer;
	background-color:#C8B6A6;
	color:black;
}


footer{
	justify-content:space-around;
	opacity:.7;
	background-color:black;
	
}
footer, .col{
	display:flex;
}
footer .col{
	flex-direction:column;
}
.col a, h3{
	color:#fff;
	margin:5px;
	font-style:italic;
}

@media only screen and (max-width: 1025px){
	.navbar h1{
		margin-left:10px;
	}
	.navbar ul{
		background:#C8B6A6;
		top:80px;
		width:100%;
		padding:0;
		transition:all 0.5s;
		position:absolute;
		overflow:hidden;
		
	}
	.navbar ul li{
		display:block;
		margin:10px 0;
		background:#EDDBC7;
		text-align:center;
		width:100%;
		cursor:pointer;
		box-shadow:none;
		border-radius:0;
		
	}
	.navbar ul li a button{
		background-color:#2B2B2B;
		color:#f4f4f4;
		border-radius:0;
		font-size:16px;
		padding: 30px 0;
		display:block;
		text-transform:uppercase;
		cursor:pointer;
		width:100%;
	}
	.navbar ul li button:hover{
		background-color:#EDDBC7;
		color:#1e1e1e;
	}
	.men-btn{
		display:block;
	}
	.profile {
		margin: auto;
	}
	.pname{
		flex-direction: row;
	}
	.pname h6, .pname h2{
		margin:0;
		font-size: large;
	}
}

/*login page*/
.container{
	padding:120px 0;
	text-align:center;
}
.logbox{
	width:400px;
	background:#1e1e1e;
	opacity:.8;
	height:400px;
	padding:20px 0;
	margin:auto;
	position:relative;
}
.logbtn span{
	margin-top:40px;
	color:#f4f4f4;
	font-size:20px;
}
.logbox form{
	max-width:400px;
	padding:0 30px;
	top:130px;
	position:absolute;
}
.logbtn {
	margin-top:40px;
}
form input{
	width:100%;
	height:30px;
	margin:10px 0;
	border:none;
	padding-left:5px;
}
form .btn{
	width:100%;
	border:none;
	cursor:pointer;
	margin:10px 0;
}
#loginform .ext{
	color:#f4f4f4;
	font-size:12px;
}
#loginform a{
	color:black;
}
.current a{
	background-color:lightgray;
}

#feedform textarea{
	padding:15px;
	font-size:20px;
	background:#EDDBC7;
	border:none;
	border-radius:15px;
	opacity:.7;
	width:90%;
}
.feed{
	color:#f4f4f4;
	font-weight:bold;
	letter-spacing:10px;
	margin:10px 0;
	padding:5px;
	font-size:30px;
	text-transform:uppercase;
}
.container-feed {
	background:transparent;
	padding:120px 0;
}
.logbox-feed{
	width:400px;
	background:#1e1e1e;
	opacity:.8;
	height:400px;
	padding:20px 5px;
	margin:auto;
	position:relative;
}
#feedform {
	margin:5px;
}
.radbtn{
	margin:0 3%;
}
.radbtn input{
	height:20px;
	width:20px;
	margin:5px;
}
.radbtn label{
	height:20px;
	width:20px;
}
.container-buy {
	margin: 10px auto;
	width:60vw;
	padding:30px;
	background:#2b2b2b;
	color:white;
	opacity:.8;
}
/*start of foodmenu*/
.food-menu{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin:50px auto;
	
}
.card{
	flex-basis:15%;
	height:300px;
	background-color:#C8B6A6;
	margin:20px 10px;
	padding:10px;
	text-align:center;
	border:1px solid gray;
	transition:all .3s;
	border: 5px groove #2b2b2b;
}
.card img{
	width:100%;
	height:40%;
	border-radius:5px;
}
.food-name {
	font-weight:bold;
	margin:5% 0;
	font-size:30px;
}
@media only screen and (max-width: 1025px){
	.card{
		flex-basis:30%;
	}
	.food-name{
		font-size:25px;
	}
}
@media (max-width: 625px){
	.card{
		flex-basis: 50%;
	}
	.food-name{
		font-size:15px;
	}
}

.buy-price{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	margin:5% 0;
	font-size:20px;
	line-height:50px;
}
.buy-btn{
	padding:10px;
	border-radius:30px;
	font-size:15px;
	border-color:#C8B6A6;
	background-color:#EDDBC7;
}
.buy-btn:hover {
	background-color:#C8B6A6;
	box-shadow:2px 1px 7px white;
}
.card:hover{
	transform:translateY(-15px);
}
/*Buy body section*/
.sel-prod{
	margin: 20px auto;
	border: 10px groove #2b2b2b;
	width:300px;
	flex-wrap:wrap;
}
.prod-info, .prod-desc{
	margin: 10px;
}
.prod-info h2{
	font-weight:lighter;
}
.prod-desc p{
	font-size:20px;
	text-align:center;
}
.prod-img{
	width:100%;
	height:50%;
}
.prod-title{
	text-align:center;
}
/*help section*/
.help-container {
	border:1px solid;
}
.row-question {
	border:3px groove #2b2b2b;
	padding:15px 20px;
}
.answer {
	height:0px;
	overflow:hidden;
	transition:height .3s;
}
.row-question:hover .answer{
	height:60px;
	color:#1e1e1e;
}
.answer p{
	color:#2b2b2b;
}